@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbae56;
}

@font-face {
  font-family: HoboStd;
  src: url("/app/fonts/HoboStd.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbae56;
  }
}

body {
  background: var(--background);
  font-family: "HoboStd";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  @font-face {
    font-family: "HoboStd";
    font-weight: 400;
    src: url("/app/fonts/HoboStd.otf") format("otf");
  }
}
