@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbae56;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbae56;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
